<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="Ikiru. Emote freely, Live fully.">
    <link rel="stylesheet" href="../static/styles/main.css">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <h2>Welcome to home page</h2>
    <a href="{{ url_for('app_views.sign_up') }}">sign up page</a>
    <a href="{{ url_for('log_out') }}">log out</a>
    <h4>hello {{ user.name }}, @{{ user.username }}, id: {{ user.id }}</h4>
    <a href="{{ url_for('msg', username=user.username) }}">inbox</a>
    { % block body %}{ % endblock %}
  </body>
</html>
