<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    >
    <meta name="description" content="Ikiru. Emote freely, Live fully.">
    <link rel="stylesheet" href="../static/styles/sign_up.css">
    <title>Sign up - Ikiru</title>
  </head>
  <body>
    <div class="body_card">
      <div class="body_card_content">
        <header>
          <nav>
            <h1 class="logo">Ikiru</h1>
              <ul>
                <li><a href="">About</a></li>
                <li><a href="">FAQs</a></li>
                <li><a href="">Help</a></li>
              </ul>
          </nav>
        </header>
        <div class="body_div1">
          <section class="slogan">
            <h2>Emote Freely,</h2>
            <h2>Live Fully.</h2>

            <p>Connect with friends from anywhere in the world</p>
          </section>
          <section class="signin_section">
            <h1>Sign up to Ikiru</h1>
            <div class="form_div">
              <form method="post">
                {{ form.hidden_tag() }}
                {{ form.name.label(for="name", id="name-label") }}
                {{ form.name }}
                {% with messages = get_flashed_messages(with_categories=True) %}
                  {% if messages %}
                    {% for category, message in messages %}
                      {% if message[0][:8] == "Username" %}
                        {{ form.username.label(for="username", id="label-error") }}
                        {{ form.username(class="form-error") }}
                        <div class="flash">
                          {{ message[0] }}
                        </div>
                        {{ form.email.label(for="email", id="email-label") }}
                        {{ form.email }}
                      {% else %}
                        {{ form.username.label(for="username", id="username-label") }}
                        {{ form.username }}
                        {{ form.email.label(for="email", id="label-error") }}
                        {{ form.email(class="form-error") }}
                        <div class="flash">
                          {{ message[0] }}
                        </div>
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    {{ form.username.label(for="username", id="username-label") }}
                    {{ form.username }}
                    {{ form.email.label(for="email", id="email-label") }}
                    {{ form.email }}
                  {% endif %}
                {% endwith %}
                {{ form.password.label(for="password", id="password-label") }}
                <div class="password-input-container">
                  {{ form.password }}
                </div>
                
                <div class="signup-button-box">
                  {{ form.submit }}
                </div>
              </form>
            </div>
            <div class="or">
              <div class="left_line-container">
                <div class="left_line"></div>
              </div>
              <div class="or-text"><span>OR</span></div>
              <div class="right_line-container">
                <div class="right_line"></div>
              </div>
            </div>
            <div class="google-button-box">
              <button type="button" class="google_button">
                <img src="../static/images/google_icon.png" alt="Google icon"><span>Sign up with Google</span>
              </button>
            </div>
            <p class="already-have">Already have an account? <a href="{{ url_for('app_views.sign_in') }}">Sign in</a></p>
          </section>
        </div>
      </div>
      <footer><a href="">Support this website</a></footer>
    </div>
  </body>
</html>
